<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mi Equipo</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    
</head>

<body>

    <div>
		<nav class="navbar navbar-expand navbar-dark bg-dark">
		<div class="container">
		<a class="navbar-brand" href="/">Mi Equipo</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/buscador"> Eqipos</a>
                </li>
			</ul>
		</div>
	</div>
		</nav>
	</div>




    <div class="container">
        <div class="row" style="margin-top: 50px;"></div>
        <div class="row justify-content-center">
            <a href="/" class="btn btn-primary btn-lg"> Iniciar Sesion</a>      
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div>
                <h1 class="text-light">¡Gracias por registrarte!</h1>
            </div>
        </div>
    </div>
            
</body>

</html>